*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #363232;
    color: wheat;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.game{
    height: 80%;
    width: 80%;
    /* background-color: red; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.title{
    font-size: 1.5rem;
    width: 100%;margin-bottom: 5rem;
}

.buttons{

    display: flex;
    height: 70%;
    width: 40%;
    /* background-color: blue; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: -3.5rem;
    
}

.box{
    height: 15vh;
    width: 9vw;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 14);
}

.streak{

    width: 100%;
    
    
}

h2{
    margin-top: 1.5rem;
}

.reset-btn{
    margin-top: 2.5rem;
}

.reset{

    height: 5rem;
    width: 10rem;
    border-radius: 20px;
}